<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Login Interno</title>
</head>
<body>
    <h2>Acceso Interno</h2>
    <p>Gestores • Analistas • Administradores</p>
    
    {% if messages %}
        {% for message in messages %}
            <p style="color:red;">{{ message }}</p>
        {% endfor %}
    {% endif %}

    <form method="POST">
        {% csrf_token %}
        <label>Correo:</label><br>
        <input type="text" name="username" required><br>
        <label>Contraseña:</label><br>
        <input type="password" name="password" required><br><br>
        <button type="submit">Iniciar Sesión</button>
    </form>

    <p>¿Eres usuario común? <a href="{% url 'login' %}">Inicia sesión aquí</a></p>
</body>
</html>